.list_games {

    display: flex;
    justify-content: center;
    margin-top: 10vh;
    gap: 20px;
    min-width: 200px;
    width: 1%;
    padding: 20px;
    align-items: baseline;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgb(88, 113, 255);
}

.make_game {

        display: flex;
        justify-content: center;
        margin-top: 10vh;
        gap: 20px;
        min-width: 200px;
        width: 1%;
        padding: 20px;
        align-items: baseline;
        border-radius: 20px;
        flex-direction: column;
        background-color: rgb(11, 182, 88);
}

.join_game {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    gap: 20px;
    min-width: 200px;
    width: 1%;
    padding: 20px;
    align-items: baseline;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgba(208, 255, 0, 0.51);
}

.join_game input[type="text"],
.join_game select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="text"]:focus,
.join_game select {
    outline: none;
}

input[type="submit"] {
    font-size: 20px;
    width: 100%;
    background-color: #313131;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1d1d1d;
}

button {
    font-size: 20px;
    width: 100%;
    background-color: #313131;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1d1d1d;
}