input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
select {
    outline: none;
}

input[type="submit"] {
    font-size: 20px;
    width: 100%;
    background-color: #313131;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1d1d1d;
}

.pute {
    font-size: 20px;
    width: 60%;
    background-color: #313131;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

button:hover {
    background-color: #1d1d1d;
}

.bo {
    text-align: center;
}

.box_container {
    text-align: center;
}

.box {
    vertical-align: top;
    display: inline-block;
    margin-left: 150px;
    justify-content: center;
    margin-top: 10vh;
    gap: 20px;
    min-width: 200px;
    width: 20%;
    padding: 20px;
    align-items: baseline;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgb(88, 113, 255);
}